.clients {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // box-shadow: 0 0 1rem rgb(255, 255, 255);
        justify-content: center;
        gap: 2rem;
        width: 80%;
        padding: 5rem;
        // margin: 5rem;
        // background-color: #ffffffdf;
    }

    &__logo {
        max-height: 100%;
        max-width: 100%;

        // filter: drop-shadow(0 0 .75rem rgb(255, 255, 255));


        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 9vw;
            width: 9vw;
            background-color: rgb(255, 255, 255);
            transition: .3s;
            cursor: pointer;
            padding: 1.5rem;
            border-radius: 2rem;
            animation: fade-in 1s ease-in forwards;
            opacity: 0;

            &:hover {
                transform: scale(1.02) !important;
            transition: .3s;
        }
        }

    }
}

@media only screen and (max-width: 640px) {
    .clients {
        &__logos {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            // box-shadow: 0 0 1rem rgb(255, 255, 255);
            justify-content: center;
            gap: 1.5rem;
            width: 90%;
            padding: 3rem 0;
            // margin: 5rem;
            // background-color: #ffffffdf;
        }
        &__logo {
            max-height: 100%;
            max-width: 100%;

            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 30vw;
                width: 30vw;
                background-color: rgb(255, 255, 255);
                transition: .3s;
                cursor: pointer;
                padding: 1rem;
                border-radius: 2rem;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

    }
}