@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

html,
body {
  margin: 0;
  background-color: #010409;
  color: lightgray;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

iframe {
  overflow: hidden;
}

a {
  transition: .2s;
  color: #c1b7e0;
}

a:hover {
  color: #9784d8;
  filter: none;
  outline: none;
}